@import "theme/default";

@import "structure/Dialog";
@import "style/Dialog";
@import "structure/menu";
@import "style/menu";
@import "structure/TableConfig.Select";
@import "style/TableConfig.Select";
@import "structure/TreeTableConfig";
@import "style/TreeTableConfig";
@import "structure/Tree";
@import "style/Tree";

@import "NIWA-Download.downloadTable";
@import "NIWA-Download.checkDbErrors";

@import "menu";
@import "structure/form";
@import "style/form";

.TreeTableData-scope() {
	@indentWidth:1em;
}

html,body {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
body {
	display: flex;
	flex-direction:column;
	align-items:center;
}
#actions {
	display:flex;
	align-items:start;
	margin-top:1ex;
	height:3em;
	button {
		padding:0;
		min-height:2em;
		margin:0 1ex;
		&.splitButton {
			margin-right:0;
			+ div button {
				margin-left:0
			}
		}
		.actionHint {
			display:none;
		}
		&:hover .actionHint {
			display:block;
		}
	}
	[data-action="moveTo"] {
		min-width:4em;
	}
	[data-action="sort"] {
		min-width:3em;
	}
	[accesskey] {
		.tooltip(@attr:~"accesskey",@content:~'"Accesskey "attr(accesskey)',@distance:50%,@additions: {
			transform:translateX(50%);
			text-transform: capitalize;
			.fadeIn(@delay:.25s);
		});
	}
	#autoTrigger>[data-state] {
		display:none;
	}
	#autoTrigger>[data-state="true"] {
		color:green;
	}
	#autoTrigger>[data-state="false"] {
		color:black;
		font-weight:bolder;
	}
	#autoTrigger[data-state="true"]>[data-state="false"],
	#autoTrigger[data-state="false"]>[data-state="true"] {
		display:inline;
	}
}
#stats {
	display:flex;
	div {
		margin: .5em 1em;
	}
	#speedStat {
		.tooltip(@direction:left,@distance:100%,@additions:{
			top:-.5em;
		});
		.tooltip-fadeIn(.5s,.5s);
	}
}
#downloads {
	flex-grow:1;
	align-self:stretch;
	overflow:auto;

	.sources {
		max-width:5em;
		span {
			display:inline-block;
			width:100%;
			text-overflow:ellipsis;
			white-space:nowrap;
			overflow:hidden;
		}
		.tooltip();
	}
}

.dbError [data-action="abort"] {
	display:none;
}
.networkError {
	white-space:pre;
}