@import "theme/default";

@import "structure/dialog";
@import "style/dialog";
@import "structure/menu";
@import "style/menu";
@import "structure/TreeTableData";
@import "style/TreeTableData";
@import "structure/selectionTable";
@import "style/selectionTable";
@import "structure/tree";
@import "style/tree";
@import "structure/selectionTree";
@import "style/selectionTree";

@import "../lib/NIWA-Download/downloadTable";
@import "../lib/NIWA-Download/checkDbErrors";

.TreeTableData-scope() {
	@indentWidth:1em;
}

html,body {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
body {
	display: flex;
	flex-direction:column;
	align-items:center;
}
#actions {
	[accesskey] {
		.tooltip(@content:~'"Accesskey "attr(accesskey)',@distance:50%,@additions: {
			transform:translateX(50%);
			text-transform: capitalize;
			.fadeIn(@delay:.25s);
		});
	}
}
#stats {
	display:flex;
	div {
		margin: .5em 1em;
	}
}
#downloads {
	flex-grow:1;
	align-self:stretch;

	.sources {
		max-width:5em;
		span {
			display:inline-block;
			width:100%;
			text-overflow:ellipsis;
			white-space:nowrap;
			overflow:hidden;
		}
		.tooltip();
	}
}

.dbError [data-action="abort"] {
	display:none;
}
.networkError {
	white-space:pre;
}