@import url("theme/default");

@import url("structure/dialog");
@import url("style/dialog");
@import url("structure/menu");
@import url("style/menu");
@import url("structure/TreeTableData");
@import url("style/TreeTableData");
@import url("structure/selectionTable");
@import url("style/selectionTable");

html,body {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
body {
	display: flex;
	flex-direction:column;
	align-items:center;
}
#downloads {
	flex-grow:1;
}
