@import "theme/default";

@import "structure/form";
@import "style/form";
@import "structure/dialog";
@import "style/dialog";

@import "../lib/NIWA-Downloads/checkDbErrors";

html,body {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
body {
	display: flex;
	flex-direction:column;
	align-items:center;
}

#menu {
	position:fixed;
	top:.5em;
	left:.5em;
	display:flex;
	flex-direction:column;

	button {
		font-size: 1.5em;
		width: 1.5em;
		padding: 0;
	}
}
#searchWrapper {
	display:flex;
	flex-direction:column;
    align-self:center;
}
#searchForm {
    order:1;

    padding:1em;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;

	label:nth-of-type(1) {
        flex-basis:100%;
        .removeField {
            visibility:hidden;
        }
    }
    .removeField {
        margin:0;
    }
    label{
        margin-left:1em;
    }
    .addField {
        position:absolute;
        top:1.5em;
        left:2.25em;
    }
}
#searchSources {
	order:2;
	flex-direction:row;
	flex-wrap:wrap;
	white-space:nowrap;
	legend {
		cursor:pointer;
		&::after {
			content:"\2796";
			display: inline-block;
			border: 1px solid;
			border-radius:.25em;
			line-height:.8em;
			margin:0 .1em;
			padding:.1em;
			font-weight:bold;
		}
	}
	&.hidden {
		padding-top:0;
		padding-bottom:0;
		legend::after {
			content:"\2795";
		}
		 label {
			display:none;
		}
	}
	label {
		margin:.1em 1em;
		flex-basis:~"calc(20% - 2em)";
		@media screen and (max-width:60em) {
			flex-basis:~"calc(25% - 2em)";
		}
		@media screen and (max-width:40em) {
			flex-basis:~"calc(50% - 2em)";
		}
		@media screen and (max-width:20em) {
			flex-basis:100%;
		}
		cursor:pointer;
		&:hover {
			font-weight:bold;

			input {
				transform:scale(1.1);
			}
		}
	}
	.label {
		width:0;
		margin-right:0;
	}
	input {
		flex-grow:0;
	}
}
#searchBtn {
    order:3;
    font-size:2em;
}
#searchFrame {
	flex-grow:1;
	align-self:stretch;
	border:0;
}
#configDialog {
	min-height:15em;
	min-width:15em;
	&.request {
		.stripes();
		.stripes-animate();
	}
	.addField, .removeField {
		display:none;
	}
}

.dbError [data-action="abort"] {
	display:none;
}