@import "theme/default";

@import "structure/form";
@import "style/form";
@import "structure/Dialog";
@import "style/Dialog";

@import "NIWA-Download.checkDbErrors";

@import "menu";

html,body {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
body {
	display: flex;
	flex-direction:column;
	align-items:center;
}
#searchWrapper {
	display:flex;
	flex-direction:column;
    align-self:center;
}
#searchForm {
    order:1;

    padding:1em;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;

	label:nth-of-type(1) {
        flex-basis:100%;
        .removeField {
            visibility:hidden;
        }
    }
    .removeField {
        margin:0;
    }
    label{
        margin-left:1em;
    }
    .addField {
        position:absolute;
        top:1.5em;
        left:2.25em;
    }
}
#sourcesWrapper {
	order:2;
	summary {
		cursor:pointer;
		list-style:"\2795";
		font-size:125%;
		font-weight: bold;
		margin-left:1em;
		padding-left:.5ex;
	}
	&[open] summary {
		list-style:"\2796";
	}
			display: inline-block;
	fieldset
	{
		border: 1px solid;
		border-radius:.25em;
		flex-direction:row;
		flex-wrap:wrap;
		white-space:nowrap;
		max-width:~'calc(100vw - 5em)'
	}
	label {
		margin:.1em 1em;
		justify-content:flex-start;
		flex-basis:11em;
		cursor:pointer;
		&:hover {
			font-weight:bold;

			input {
				transform:scale(1.1);
			}
		}
	}
	.label {
		order:1;
	}
	input {
		order:0;
	}
}
#searchBtn {
    order:3;
    font-size:2em;
}
#searchFrame {
	flex-grow:1;
	align-self:stretch;
	border:0;
}

.dbError [data-action="abort"] {
	display:none;
}