.searchResult {
	position:relative;
	display:flex;
	flex-direction:column;
	padding-top:.5em;

	.actions {
		padding-bottom:.5em;
		 button {
			margin-right:1em;
		}
	}

	.results {
		height:0;
		flex-grow:1;
		display:flex;

		.tableWrapper {
			height:100%;
			overflow:auto;
			flex-grow:1;
			header div {
				background-color:lighten(spin(@secondaryColor,90),20%);
				cursor:pointer;
			}
			.name {
				width:100%;
				white-space:nowrap;
			}
		}
		.form {
			margin-top:-.5em;
			overflow:auto;
			flex-shrink:0;

			.addField, .removeField {
				display:none;
			}
			legend {
				font-size:1rem;
			}
			input {
				order:-1;
				margin-right:1em;
			}
			label, .label {
				margin:0;
				white-space:nowrap;
			}
			label:nth-child(n + 3) {
				flex-direction:column;
				margin-top:.5em;
			}
		}
	}
}