@import "theme/default";
@import "structure/tabs";
@import "style/tabs";
@import "structure/selectionTable";
@import "style/selectionTable";
@import "structure/form";
@import "style/form";
@import "structure/dialog";
@import "style/dialog";
@import "structure/menu";
@import "style/menu";

@import "../lib/NIWA-Downloads/checkDbErrors";
@import "searchResult";


html,body {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
body {
	display: flex;
	flex-direction:column;
}
.tabs {
	flex-grow:1;
	header {
		font-weight:bold;
			[data-action] {
			color:red;
			transition:all 1s;
			display:inline-block;
			margin-left:.5em;
			&:hover {
				transform:rotate(90deg) scale(1.5);
			}
		}
	}
	div {
		position:relative; /* for modal dialogs */
	}
	[data-state="request"] {
		.stripes(@secondaryColor);
		.stripes-animate();
	}
	[data-state="response"] {
		.stripes(@ternaryColor);
		.stripes-animate();
	}
}