#configView {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}

#configView > fieldset {
	flex-basis: 30%;
	box-sizing: border-box;
	flex-grow: 1;
}

#configView legend.default + table,
#configView legend.denied + table {
	display:none;
}
#configView legend.granted + table {
	display:table;
}