#downloadManager {
	display:flex;
	flex-direction: column;
}
#downloadManager .control {
	display: flex;
	justify-content: space-around;
}
#downloadManager .stats {
	display: flex;
	justify-content: space-around
}
#downloadManager .downloads {
	flex-grow:1;
	padding: 10px 0;
	display:flex;
	flex-direction: column;
}
