html,body {
	height:100%;
	margin:0;
}
body{
	display:flex;
	flex-direction: column;
}
#control {
	display: flex;
	justify-content: space-around;
}
#downloads {
	flex-grow:1;
	padding: 10px 0;
	display:flex;
	flex-direction: column;
	overflow:scroll;
}

.XDCCPackage {
	margin: 5px;
}
.XDCCPackage > div {
	display: flex;
	flex-wrap:wrap;
}
.XDCCPackage progress {
	flex-basis:100%;
	height:30px;
}
.XDCCPackage span {
	padding: 5px;
}
.XDCCPackage .message {
	flex-grow:1;
}
.XDCCPackage legend {
	background-color: white;
} 
.XDCCPackage,.XDCCPackage legend {
	border: 1px lightgray solid;
}
.XDCCPackage[data-state=Disabled] {
	background-image: repeating-linear-gradient(45deg, grey, grey 10px, lightgray 10px, lightgray 20px);
}
.XDCCPackage[data-state=Pending] {
	background-color: lightgray;
}
.XDCCPackage[data-state=Running] {
	background-color: lightgreen;
}
.XDCCPackage[data-state=Fail] {
	background-color: red;
}
.XDCCPackage[data-state=Done] {
	background-color: lightblue;
}
.XDCCPackage:not([data-state=Pending]) .actions [data-action=disable],
.XDCCPackage:not([data-state=Disabled]) .actions [data-action=enable],
.XDCCPackage[data-state=Running] .actions [data-action=remove] {
	display:none;
}
.XDCCPackage .message[data-type="warning"] {
	background-color: yellow;
}
.XDCCPackage .message[data-type="error"] {
	background-color: red;
}

fieldset.dragover {
	box-shadow: 0 -20px black;
}
#downloads.dragover fieldset:last-child {
	box-shadow: 0 20px black;
}