#control {
	display: flex;
	justify-content: space-around;
}

.download {
	margin: 5px;
}
.download > div {
	display: flex;
	flex-wrap:wrap;
}
.download progress {
	flex-basis:100%;
	height:30px;
}
.download span {
	padding: 5px;
}
.download .message {
	flex-grow:1;
}

.download[data-state=pending],.download[data-state=pending] legend {
	background-color: lightgray;
}
.download[data-state=running],.download[data-state=running] legend {
	background-color: lightgreen;
}
.download[data-state=error],.download[data-state=error] legend {
	background-color: red;
}
.download[data-state=done],.download[data-state=done] legend {
	background-color: lightblue;
}

.download .message[data-type="warning"] {
	background-color: yellow;
}
.download .message[data-type="error"] {
	background-color: red;
}