

/**** layout ****/
#irc {
	display:flex;
	flex-direction:column;
}
#irc .tabContainer {
	flex-grow:1;
	overflow:hidden;
}
#irc .tabContainer > header.active + * {
	height: calc(100% - 9px - 2em);
	width:100%;
	overflow:auto;
}
#irc .tabContainer > header.active + * > * {
	display:table-row;
}
#irc .tabContainer > header.active + *> * > * {
	display:table-cell;
	padding:0 5px;
}


/**** general ****/

#irc .nick {
	text-align:right;
	white-space:nowrap;
}
#irc .text {
	width:100%;
	background-color: lightgray;
	border: 1px solid white;
	white-space:pre-wrap;
	font-family:monospace;
}

#irc .notice .text{
	font-style:italic;
}
#irc .privmsg .nick {
	background-color: lightgray;
	font-weight: bold;
}
#irc .error .text {
	border-color:black;
	background-color:red;
	color:white;
}


/**** irc colors ****/

#irc .text .front-00, #irc .text .front-00 * {
	color:white;
}
#irc .text .back-00, #irc .text .back-00 * {
	background-color:white;
}
#irc .text .front-01, #irc .text .front-01 * {
	color:black;
}
#irc .text .back-01, #irc .text .back-01 * {
	background-color:black;
}
#irc .text .front-02, #irc .text .front-02 * {
	color:navy;
}
#irc .text .back-02, #irc .text .back-02 * {
	background-color:navy;
}
#irc .text .front-03, #irc .text .front-03 * {
	color:green;
}
#irc .text .back-03, #irc .text .back-03 * {
	background-color:green;
}
#irc .text .front-04, #irc .text .front-04 * {
	color:red;
}
#irc .text .back-04, #irc .text .back-04 * {
	background-color:red;
}
#irc .text .front-05, #irc .text .front-05 * {
	color:brown;
}
#irc .text .back-05, #irc .text .back-05 * {
	background-color:brown;
}
#irc .text .front-06, #irc .text .front-06 * {
	color:purple;
}
#irc .text .back-06, #irc .text .back-06 * {
	background-color:purple;
}
#irc .text .front-07, #irc .text .front-07 * {
	color:olive;
}
#irc .text .back-07, #irc .text .back-07 * {
	background-color:olive;
}
#irc .text .front-08, #irc .text .front-08 * {
	color:yellow;
}
#irc .text .back-08, #irc .text .back-08 * {
	background-color:yellow;
}
#irc .text .front-09, #irc .text .front-09 * {
	color:lime;
}
#irc .text .back-09, #irc .text .back-09 * {
	background-color:lime;
}
#irc .text .front-10, #irc .text .front-10 * {
	color:teal;
}
#irc .text .back-10, #irc .text .back-10 * {
	background-color:teal;
}
#irc .text .front-11, #irc .text .front-11 * {
	color:cyan;
}
#irc .text .back-11, #irc .text .back-11 * {
	background-color:cyan;
}
#irc .text .front-12, #irc .text .front-12 * {
	color:blue;
}
#irc .text .back-12, #irc .text .back-12 * {
	background-color:blue;
}
#irc .text .front-13, #irc .text .front-13 * {
	color:pink;
}
#irc .text .back-13, #irc .text .back-13 * {
	background-color:pink;
}
#irc .text .front-14, #irc .text .front-14 * {
	color:gray;
}
#irc .text .back-14, #irc .text .back-14 * {
	background-color:gray;
}
#irc .text .front-15, #irc .text .front-15 * {
	color:silver;
}
#irc .text .back-15, #irc .text .back-15 * {
	background-color:silver;
}

#irc .row .text a:hover {
	background-color:lightgray;
	color:blue;
}