

/**** layout ****/
#ircView {
	display:flex;
	flex-direction:column;
}
#ircView .tabContainer {
	flex-grow:1;
	overflow:hidden;
}
#ircView .tabContainer .unread {
	animation: unread ease-out 1s 3 forwards;
}
#ircView .tabContainer > header.active + * {
	height: calc(100% - 9px - 2em);
	width:100%;
	overflow:auto;
}
#ircView .tabContainer > header.active + * > * {
	display:table-row;
}
#ircView .tabContainer > header.active + *> * > * {
	display:table-cell;
	padding:0 5px;
}
#ircView > form {
	display:flex;
}
#ircView > form input {
	flex-grow:1;
}


/**** general ****/

#ircView .nick {
	text-align:right;
	white-space:nowrap;
	cursor: pointer;
}
#ircView .nick:hover {
	text-decoration: underline;
}
#ircView .privmsg .nick {
	background-color: lightgray;
	font-weight: bold;
}
#ircView .privmsg .nick::before {
	content:"«";
}
#ircView .privmsg .nick::after {
	content:"»";
}
#ircView .nickMention .nick {
	background-color:#DDDDFF;
	font-weight: bolder;
}
#ircView .text {
	width:100%;
	background-color: lightgray;
	border: 1px solid white;
	white-space:pre-wrap;
	font-family:monospace;
}

#ircView .notice .text{
	font-style:italic;
}
#ircView .error .text {
	border-color:black;
	background-color:red;
	color:white;
}


/**** irc colors ****/

#ircView .text .front-00, #ircView .text .front-00 * {
	color:white;
}
#ircView .text .back-00, #ircView .text .back-00 * {
	background-color:white;
}
#ircView .text .front-01, #ircView .text .front-01 * {
	color:black;
}
#ircView .text .back-01, #ircView .text .back-01 * {
	background-color:black;
}
#ircView .text .front-02, #ircView .text .front-02 * {
	color:navy;
}
#ircView .text .back-02, #ircView .text .back-02 * {
	background-color:navy;
}
#ircView .text .front-03, #ircView .text .front-03 * {
	color:green;
}
#ircView .text .back-03, #ircView .text .back-03 * {
	background-color:green;
}
#ircView .text .front-04, #ircView .text .front-04 * {
	color:red;
}
#ircView .text .back-04, #ircView .text .back-04 * {
	background-color:red;
}
#ircView .text .front-05, #ircView .text .front-05 * {
	color:brown;
}
#ircView .text .back-05, #ircView .text .back-05 * {
	background-color:brown;
}
#ircView .text .front-06, #ircView .text .front-06 * {
	color:purple;
}
#ircView .text .back-06, #ircView .text .back-06 * {
	background-color:purple;
}
#ircView .text .front-07, #ircView .text .front-07 * {
	color:olive;
}
#ircView .text .back-07, #ircView .text .back-07 * {
	background-color:olive;
}
#ircView .text .front-08, #ircView .text .front-08 * {
	color:yellow;
}
#ircView .text .back-08, #ircView .text .back-08 * {
	background-color:yellow;
}
#ircView .text .front-09, #ircView .text .front-09 * {
	color:lime;
}
#ircView .text .back-09, #ircView .text .back-09 * {
	background-color:lime;
}
#ircView .text .front-10, #ircView .text .front-10 * {
	color:teal;
}
#ircView .text .back-10, #ircView .text .back-10 * {
	background-color:teal;
}
#ircView .text .front-11, #ircView .text .front-11 * {
	color:cyan;
}
#ircView .text .back-11, #ircView .text .back-11 * {
	background-color:cyan;
}
#ircView .text .front-12, #ircView .text .front-12 * {
	color:blue;
}
#ircView .text .back-12, #ircView .text .back-12 * {
	background-color:blue;
}
#ircView .text .front-13, #ircView .text .front-13 * {
	color:#FF00FF;
}
#ircView .text .back-13, #ircView .text .back-13 * {
	background-color:#FF00FF;
}
#ircView .text .front-14, #ircView .text .front-14 * {
	color:gray;
}
#ircView .text .back-14, #ircView .text .back-14 * {
	background-color:gray;
}
#ircView .text .front-15, #ircView .text .front-15 * {
	color:silver;
}
#ircView .text .back-15, #ircView .text .back-15 * {
	background-color:silver;
}

#ircView .row .text a:hover {
	background-color:lightgray;
	color:blue;
}